.terraform.lock.hcl
.terraform/terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.25.0/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.25.0/windows_386/terraform-provider-azurerm_v4.25.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.1/windows_386/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/random/3.7.1/windows_386/terraform-provider-random_v3.7.1_x5.exe
